body {
  font-family: Arial, sans-serif;
  background-color: rgb(193, 218, 255);
  margin: auto;
}

.appinner {
  font-size: 25px;
  color: rgb(59, 105, 173);
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(150, 185, 237);
  color: rgb(13, 12, 12);
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.navbar li {
  background: rgb(242, 245, 247);
  padding: 8px 22px;
  border: 1px;
  border-radius: 25px;
}
.card1 {
  background-image: url("../public/Blue Sky Computer Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 0.2px;
  border-radius: 15px;
}
.card1h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(39, 90, 156);
  background-color: #f5eed4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid rgb(229, 227, 201);
}

.card1 .overlay {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.83);
  margin: 20px auto auto;
  align-items: center;
  width: 30%;
  height: 80px;
  font-size: 24px;
  border-radius: 50px;
  color: rgb(59, 105, 173);
}
.new-quote-button {
  display: flex;
  justify-content: right;
  gap: 80px;
  padding-right: 90px;
  height: 60%;
  align-items: end;
}
.card1 .new-quote-button button {
  justify-content: center;
  margin-bottom: 30px;
  height: 40px;
  background-color: #3574e9;
  color: white;
  font-size: 15px;
}
.card2 {
  background-image: url("../public/Blue Sky Computer Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 0.2px;
  border-radius: 15px;
}
.card2h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(39, 90, 156);
  background-color: #f5eed4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid rgb(229, 227, 201);
}


.moods {
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}
.happy-button {
  background-color: #f9d71c;
  color: white;
  font-size: 15px;
}
.happy-button:hover {
  background-color: #dac227;
}
.happy-button:active {
  background-color: #bfa41a;
}
.sad-button {
  background-color: #1c6ef9;
  color: white;
  font-size: 15px;
}
.sad-button:hover {
  background-color: #3562b0;
}
.sad-button:active {
  background-color: #3973d8;
}
.calm-button {
  background-color: #f418c0;
  color: white;
  font-size: 15px;
}
.calm-button:hover {
  background-color: #b52e96;
}
.calm-button:active {
  background-color: #e230b9;
}
.anxious-button {
  background-color: #f37113;
  color: white;
  font-size: 15px;
}
.anxious-button:hover {
  background-color: #d78a2a;
}
.anxious-button:active {
  background-color: #fa9214;
}

button {
  padding: 8px 42px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  background-color: #fdf9fc;
  color: rgb(15, 15, 15);
  cursor: pointer;
}

.clear-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.clear-btn {
  background-color: #4da075;
  color: white;
  font-size: 15px;
}
.clear-btn:hover {
  background-color: #3a6e5c;
}

.clear-btn:active {
  background-color: #2a4d3b;
}

.card3 {
  background-image: url("../public/Blue Sky Computer Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 0.2px;
  border-radius: 15px;
}
.card3h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(39, 90, 156);
  background-color: #f5eed4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid rgb(229, 227, 201);
}

.breathing-instruction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.breathing-instruction p {
  font-size: 35px;
  margin-left: 200px;
  font-weight: bold;
  color: #4f2ec8;
}
.breathing-instruction img {
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 50%;
}
.breathing-container {
  position: relative;
  width: 180px;
  height: 180px;
  margin:50px auto;
  border: solid rgba(126, 200, 227, 0);
}

.bg-circle {
  position: absolute;
  width: 180px;
  height: 180px;
  background: url("../public/breathingimg.avif");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.circle {
  position: absolute;
  width: 180px;
  height: 180px;
  background: rgba(126,200,227,0.6);
  border-radius: 50%;
  transition: transform 4s ease-in-out;
}


.grow {
  transform: scale(1.5);
}

.shrink {
  transform: scale(1);
}

.exercisebutton {
  display: flex;
  justify-content: center;
  
}
.exercisebutton button {
  background-color: #8164eb;
  color: rgb(236, 243, 237);
  font-size: 15px;
  margin-top: 50px;

}

.exercisebutton button:hover {
  background-color: #5e3db0;
}
.exercisebutton button:active {
  background-color: #4b2e7a;
}
.timer {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45px;
  font-size: 36px;
  color: white;
  font-weight: bold;
}
.step-text {
  display: flex;
  justify-content: center;
  margin-top: 210px;
  
}
 .card4 {
  background-image: url("../public/Blue Sky Computer Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 0.2px;
  border-radius: 15px;
  
}
.card4h3 {
  display: flex;
  padding: 30px;
  justify-content: center;
  text-align: center;
  /* height: 20%; */
  font-weight: bold;
  font-size: 40px;
  color: rgb(39, 90, 156);
  background-color: #f5eed4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid rgb(229, 227, 201);
  
}
.card4 .player {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.605);
  padding: 20px;
  /* border-radius: 50px; */
  width: 250px;
  margin: auto;
  margin-top: 100px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #133884;
  padding: 5px;
  width: 60%;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
}
.controls button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  
}

.history {
  background-color: rgba(255, 255, 255, 0.605);
  padding: 20px;
  border-radius: 15px;
  width: 450px;
  margin: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Heading fixed */
.historyhead {
  text-align: center;
  color: rgb(81, 121, 180);
  font-size: 20px;

}


/* Scroll sirf yaha hoga */
.historyvalue {
  overflow-y: auto;
  flex: 1;
}

/* Scrollbar */
.historyvalue::-webkit-scrollbar {
  width: 8px;
}
.historyvalue::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.historyItem {
  display: flex;
  padding: 12px;
  justify-content:space-around;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-bottom: 14px;

}

.moodText {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.timeText {
  text-align: center;
  justify-content: center;
  font-size: 12px;
  color: gray;
}

.footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
}

.footer h2 {
  margin-bottom: 10px;
}

.footer-desc {
  max-width: 600px;
  margin: auto;
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer-tech,
.footer-dev {
  margin: 6px 0;
  font-weight: 500;
}

.footer-links {
  margin: 15px 0;
}

.footer-links p {
  margin: 5px;
}

.copyright {
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.7;
}