body {
  font-family: Arial, sans-serif;
  background-color: rgb(193, 218, 255);
  margin: auto;
}

.appinner {
  font-size: 25px;
  color: rgb(59, 105, 173);
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(150, 185, 237);
  color: rgb(13, 12, 12);
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.navbar li {
  background: rgb(242, 245, 247);
  padding: 8px 22px;
  border: 1px;
  border-radius: 25px;
}
.card1 {
  background-image: url("../public/Blue Sky Computer Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 0.2px;
  border-radius: 15px;
}
.card1h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(39, 90, 156);
  background-color: #f5eed4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid rgb(229, 227, 201);
}

.card1 .overlay {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.83);
  margin: 20px auto auto;
  align-items: center;
  width: 30%;
  height: 80px;
  font-size: 24px;
  border-radius: 50px;
  color: rgb(59, 105, 173);
}
.new-quote-button {
  display: flex;
  justify-content: right;
  gap: 80px;
  padding-right: 90px;
  height: 60%;
  align-items: end;
}
.card1 .new-quote-button button {
  justify-content: center;
  margin-bottom: 30px;
  height: 40px;
  background-color: #93b1ea;
  color: white;
  font-size: 15px;
}
.card2 {
  background-image: url("../public/Blue Sky Computer Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 0.2px;
  border-radius: 15px;
}
.card2h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(39, 90, 156);
  background-color: #f5eed4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid rgb(229, 227, 201);
}

.card4 {
  background-image: url("../public/Blue Sky Computer Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 0.2px;
  border-radius: 15px;
}
.card4h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(39, 90, 156);
  background-color: #f5eed4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid rgb(229, 227, 201);
}
.moods {
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}
.happy-button {
  background-color: #f9d71c;
  color: white;
  font-size: 15px;
}
.sad-button {
  background-color: #1c6ef9;
  color: white;
  font-size: 15px;
}
.calm-button {
  background-color: #f418c0;
  color: white;
  font-size: 15px;
}
.anxious-button {
  background-color: #f37113;
  color: white;
  font-size: 15px;
}

button {
  padding: 8px 42px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  background-color: #fdf9fc;
  color: rgb(15, 15, 15);
  cursor: pointer;
}

.clear-btn {
  margin-top: 15px;
  margin-left: 40px;
  /* margin-bottom: 20px; */
  background-color: #4da075;
}

.card3 {
  background-image: url("../public/Blue Sky Computer Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 0.2px;
  border-radius: 15px;
}
.card3h3 {
  text-align: center;
  font-size: 30px;
  color: rgb(39, 90, 156);
  background-color: #f5eed4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid rgb(229, 227, 201);
}

.breathing-instruction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.breathing-instruction p {
  font-size: 35px;
  margin-left: 200px;
  font-weight: bold;
  color: #4f2ec8;
}
.breathing-instruction img {
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 50%;
}

.exercisebutton {
  display: flex;
  justify-content: center;
}
.exercisebutton button {
  margin-bottom: 30px;
  background-color: #8164eb;
  color: rgb(236, 243, 237);
  font-size: 15px;
}

  .card4 .player {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.605);
  padding: 20px;
  border-radius: 50px;
  width: 250px;
  margin: auto;
  margin-top: 30px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #133884;
  padding: 5px;
  width: 60%;
  margin: auto ;
  margin-top: 80px;
  border-radius: 15px;
}
.controls button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  
}
