body {
  font-family: Arial, sans-serif;
  background-color: rgb(193, 218, 255);
 
}
.appinner {
  color: rgb(109, 163, 243);
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(137, 182, 250);
  padding: 10px;
  color: rgb(13, 12, 12);
}

.navbar ul  {
  display: flex;
  list-style: none;
  gap: 45px;
}
.navbar li  {
 
  background: rgb(242, 245, 247);
  padding: 8px 22px ;
  border: 1px;
  border-radius: 25px;
}
.card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4caf9d;
  color: white;
  cursor: pointer;
}